body {
  margin: 0 auto;
  width: 80%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  height: 5em;
}

.formulario{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.enviar{
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  background-color: darkolivegreen;
  color: #fff;
}

.tabla{
  border: 1px solid #000;
  background-color: cadetblue;
  margin-top: 2em;
  width: 100%;
}