body {
  margin: 0 auto;
  width: 80%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  height: 5em;
}
